{% extends "index.html" %}
{% block head %}: Register{% endblock %}
{% block main %} 
<div>
    <form action="/register" method="post">
        <h2 class="text-center">Register</h2>
        <div class="text-center form-group">
            <label for="username">Username</label>
                    <input class="w-auto mx-auto form-control" name="username" autofocus autcomplete="off" type="text" id="username" placeholder="Type new username here">
        </div>
        <div class="text-center form-group">
            <label for="password">Password</label>
                <input class="w-auto mx-auto form-control " name="password" type="password" id="password" placeholder="Type new password here">
        </div>
        <div class="text-center form-group">
            <label for="password">Confirm Password</label>
                <input class="w-auto mx-auto form-control " name="confirm-password" type="password" id="confirm-password" placeholder="Confirm new password here">
        </div>
        <div class="form-group text-center mt-3">
            <button type="submit" class="btn btn-light">Register</button>
        </div>
    </form>
</div>
{% endblock %}